.material-icons {
    vertical-align: middle;
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-big {
    font-size: 48px;
    vertical-align: middle;
}

<<<<<<< HEAD
.comment-box {
    resize: none;
}


=======
>>>>>>> homepage
.game-container {
    border: 16px darkgray;
}

.box-element {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.product {
    border-radius: 0 0 4px 4px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 32px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
}

.game-thumbnail {
    height: 225px;
    width: 100%;
    display: block;
    object-fit: cover;
}

.game-cover {
    width: 80%;
    max-height: 500px;
    object-fit: cover;
}

.game-card {
    /*width: 20rem;*/
    margin: 9px auto;
    overflow: hidden;
    box-shadow: 8px 7px 9px 3px rgb(0 0 0 / 33%);
    transition: transform 200ms ease-in-out;
}

.game-card:hover {
    transform: translate(0px, -13px);
}


.game-text {
    height: 3em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Centered text */
.nsfw-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Text over image */
.over-text {
    text-shadow: 3px 3px 5px black, -3px 3px 5px black, -3px -3px 5px black, 3px -3px 5px black;
}

.section-separator {
    margin-top: 22px;
    margin-bottom: 15px;
}

/* Botón carousel */
.jugar-carousel {
    position: absolute;
    left: 84%;
    top: 92%;
    z-index: 100;
}

.container-over {
  position: relative;
  text-align: center;
  color: white;
}

.nsfw {
    filter: blur(16px);
}

.container-over:hover .nsfw {
    filter: blur(0px);
}

.container-over:hover .nsfw-text {
    visibility: hidden;
}

.btn-primary {
    margin-left: 10px;
}

.description-container {
    background-color: #402650;
    padding: 32px;
    border-radius: 16px;
}

.comment {
    /*background-color: #341d42;
    padding: 8px;
    border-radius: 8px;*/
    margin-bottom: 16px;
}

.username-comment {
    font-size: 18px;
    font-weight: 600;
}

.dev-username-comment {
    font-size: 18px;
    font-weight: 600;
    color: gold;
}

.date-comment {
    font-size: 16px;
    font-weight: 400;
    color: #808080;
}

.text-comment {
    font-size: 18px;
}

.comment-pfp {
    display: inline-block;
}

.comment-picture-container {
    float: inline-start;
}

.comment-content-container {
    display: inline-block;
    padding-left: 16px;
    width: 80%;
}

.main-page {
    margin-top: 80px;
    margin-bottom: 5%;
}

.side-icon {
    vertical-align: baseline;
}


body {
    background-color: #121212;
    color: #cad2d1;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}