.material-icons {
    vertical-align: middle;
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-big {
    font-size: 48px;
    vertical-align: middle;
}

.game-container {
    margin-top: 32px;
    border-color: darkgray;
    /*border-width: 16px;*/
    border: 16px;
}