{% extends 'base.html' %}

{% block title %}
Catálogo
{% endblock %}

{% block content %}
    <div class="container">

        <h2 class="text-white text-center">
            <span class="material-icons md-light side-icon">local_fire_department</span>
                Novedades
            <span class="material-icons md-light side-icon">local_fire_department</span>
        </h2>

        <div id="carousel-novedades" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for game in games_by_date %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <a href="jugar/{{ game.id }}">
                            <img class="game-cover rounded mx-auto d-block {% if game.nsfw %}nsfw{% endif %}" src="/media/images/games/{{ game.id }}/thumbnail.png">
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="over-text">{{ game.name }}</h5>
                            <p class="over-text">{{ game.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-novedades" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-novedades" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>

        <hr class="section-separator">

        <h2 class="text-white text-center">
            <span class="material-icons md-light side-icon">star</span>
                Recomendados
            <span class="material-icons md-light side-icon">star</span>
        </h2>
        <div class="row">
            {% for game in games_featured %}
            <div class="col-md-4 col-lg-4 col-12">
                {% include "componentes/game_card.html" %}
            </div>
            {% endfor %}
        </div>

        <hr class="section-separator">

        <h2 class="text-white text-center">
            <span class="material-icons md-light side-icon">casino</span>
                Random
            <span class="material-icons md-light side-icon">casino</span>
        </h2>

        <div class="row">
            {% for game in games_by_random %}
            <div class="col-md-4">
                {% include "componentes/game_card.html" %}
            </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}