{% extends 'base.html' %}

{% block title %}
Editar Cuenta
{% endblock %}

{% block content %}
<div class="container">
    <h1> Editar Cuenta </h1>
    <h2 style="color: #777;">@{{ user }}</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group container">
            <label class="form-label" for="contraseña">Contraseña</label>
            <input type="password" class="form-control" id="contraseña" name="contraseña">
        </div>

        <div class="form-group container">
            <label class="form-label" for="contraseña">Confirmar contraseña</label>
            <input type="password" class="form-control" id="contraseña" name="conf-contraseña">
        </div>

        <div class="form-group container">
            <label class="form-label" for="mail">Mail</label>
            <input type="email" class="form-control" id="mail" name="mail" value="{{ user.email }}" required>
        </div>
        
        <div class="form-group container">
            <label class="form-label" for="img-usuario">Imagen de usuario</label>
            <input type="file" class="form-control" id="imagen" name="img-usuario" multiple="false">
            <div class="container">
                <img id="uimg-after-upload" width="200" src="/media/images/profilePictures/{{ user.id }}.png">
            </div>
        </div>
        <div class="form-group container">
            <button type="submit" class="btn btn-primary" id="boton-editar-cuenta">Guardar cambios</button>
        </div>
        
    </form>
</div>
{% endblock %}