{% extends "base.html" %}
{% load static %}

{% block title %}
Jugar
{% endblock %}

{% block content %}
<div>
    <a href="{% url 'editar_juego' game.id %}">Editar</a>
</div>
<div class="container game-container">
    <h1>{{ game.name }}</h1>
    <!--<iframe src="http://v6p9d9t4.ssl.hwcdn.net/html/4565765/index.html" height="600" width="1024"></iframe> -->
    <iframe src="/media/games/{{ game.id }}/index.html" height="720" width="1280"></iframe>
    <div class="container description-container">
        <p>{{ game.description }}</p>
    </div>
    <div class="container">
        <h3>Comentarios:</h3>
        <div class="container">
            <form onsubmit="return postComment();">
                <!--<label for="new-comment">A</label>-->
                <!--<input type="text" name="new-comment">-->
                <textarea cols="100" rows="1" name="comment" id="comment-box" placeholder="Escribe un comentario"></textarea>
                <button type="button" onclick="postComment();">Publicar</button>
            </form>
        </div>
        <div class="container" id="comment-section" onload="loadComments();">

        </div>
    </div>
    
</div>
{% endblock %}