{% extends "base.html" %}

{% block title %}
	Alto ahí, rufián
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/oh_no.css">
<div class="d-flex flex__center">
	<div class="flex--item">
		<img src="/static/images/404.png">
	</div>
	<div class="flex--item errmes">
		<h2>404 - página no encontrada</h2>
		<h1>No hay nada que ver aquí</h1>
		<ul>
			<li>Date la vuelta</li>
			<li>Vuelve por donde viniste</li>
			<li>No mires hacia atrás</li>
		</ul>
	</div>
</div>
{% endblock %}
